In [59]:
print("welcome")

welcome

IF STATMENTS(24/08/2023)

In [60]:
# statments under if

In [61]:
print("start the programe")
a=5
if a==5:
    print("the value is five")
print("end the programe")

start the programe
the value is five
end the programe

In [62]:
# input given by the user

In [63]:
print("start the programe")
a=int(input("enter a value"))
if a==5:
    print("the value is five")
print("program end")

start the programe
the value is five
program end

In [64]:
# If else statement

In [65]:
print("start the program")
a=int(input("enter the value"))
if a==5:
    print("the value is 5")

else:
    print("the value is not 5")
print("end the programme")

start the program
the value is not 5
end the programme

In [66]:
print("start the program")
a=int(input("enter the value"))
if a==3:
    print(a,"is the value")
else:
    print("the value is not 3")
print("end the programme")

start the program
the value is not 3
end the programme

Write a programme to check if the entered number is ODD or EVEN

In [67]:
print("start the program")
a=int(input("enter the value"))
if a%2==0:
    print(a,"is even")
else:
    print(a,"is odd")

start the program
6 is even

In [68]:
print("start the program")
a=int(input("enter the value"))
if a%2==0:
    print(a,"is even")
else:
    print(a,"is odd")

start the program
7 is odd

In [69]:
print("start the program")
a=int(input("enter the value"))
if a%2==0:
    print(a,"is even")
else:
    print(a,"is odd")

start the program
5 is odd

In [70]:
print("start the program")
a=int(input("enter the value"))
if a%2==0:
    print(a,"is even")
else:
    print(a,"is odd")

start the program
7 is odd

In [71]:
print("start the program")
a=float(input("enter the value"))
if a%2==0:
    print(a,"is even")
else:
    print(a,"is odd")

start the program
9.0 is odd

In [72]:
print("start the program")
a=float(input("enter the value"))
if a%2==0:
    print(a,"is even")
else:
    print(a,"is odd")

start the program
2.0 is even

In [73]:
# if elif else statements

In [74]:
print("start the program") 
x=int(input("enter the value")) 
if x>=1:
    print("the given number is Natural number")
elif x>=0:
    print("the given number is whole number")
else:
    print("the given number is real number")

start the program

the given number is Natural number

In [75]:
# Nested if statements

In [76]:
a=int(input("enter the value"))
b=int(input("enter the value"))
c=int(input("enter the value"))
if a>b:
    if a>c:
        print(a,"is the largest number")
    elif a<c:
        print(a,"is greater than",b"and " ,a, "is smaller than ",c)
else:
    print(a,"is the smallest number")

6 is the smallest number

Read 3 numbers from user and print the largest among them

In [77]:
a=int(input("enter the value"))
b=int(input("enter the value"))
c=int(input("enter the value"))
if a>b and a>c:
    print(a,"is the largest among the 3 number")
elif b>a and b>c:
    print(b,"is the largest among the 3 numbers") 
else:
    print(c,"is the largest among the 3 numbers")

ValueError: invalid literal for int() with base 10: ''

With the same inputs , try to sort the numbers in ascending or descending order based on user choice

In [ ]:
a=int(input("enter the value"))
b=int(input("enter the value"))
c=int(input("enter the value"))
T=int(input("what order do you want the numbers to be arranged? if ascending press 1 and for descending press 2"))
if a>b and a>c:
    if b>c:
        if T==2:
            print(a,b,c)
        else:
            print(c,b,a)
    else:
         print(a,c,b)
elif b>a and b>c:
    if a>c:
        if T==2:
            print(b,a,c)
        else:
            print(c,a,b)
    else:
        print(b,c,a)
else:
    if a>b:
        if T==2:
            print(c,a,b)
        else:
             print(a,b,c)

12 14 17

Answer with the help of Google

In [ ]:
a=int(input("enter the value"))
b=int(input("enter the value"))
c=int(input("enter the value"))
list=a,b,c
print(sorted(list))

[4, 10, 15]

LOOPING STATEMENTS(25/08/2023)

In [ ]:
# for loop

In [ ]:
for x in "Hi, welcome to Ooty":
    print(x)

H
i
,

w
e
l
c
o
m
e

t
o

O
o
t
y

In [ ]:
x="Hi, welcome to Ooty"
print(len(x)) # get the number of characters
print(x)

19
Hi, welcome to Ooty

In [ ]:
x=" Hi, welcome to Ooty  \n It's cold here "
print(len(x)) # get the number of characters
print(x)
x=x.strip()  #helps to remove space and special characters at the end and starting of a string
print(len(x))

39
 Hi, welcome to Ooty
 It's cold here
37

In [ ]:
# for loop

In [ ]:
for i in range (0,15,2):
    print(i)

0
2
4
6
8
10
12
14

In [ ]:
for i in range(0,15): #to iterate by +1 we not need to specify it.It will read automatically. But for any other iteration we need to specify
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

LIST

In [ ]:
L1=["hey","$",5,10.3]
type(L1) #gives the datatype of the variable

list

In [ ]:
L1=["hey","$",5,10.3]
type(L1)
print(L1)

['hey', '$', 5, 10.3]

In [ ]:
L1=["hey","$",5,10.3]
print(L1[0])

hey

In [ ]:
L1=["hey","$",5,10.3]
print(L1[-2])

5

In [ ]:
L1=["hey","$",5,10.3]
for i in L1:
    print(i)

hey
$
5
10.3

In [ ]:
L1=["hey","$",5,10.3]
print(type(L1))
for i in L1:
    print(i)

<class 'list'>
hey
$
5
10.3

split() & strip()

In [ ]:
a="\t welcome       "   #\t is used for tab
print(a.strip())          #here the input itself printed since strip() is not saved to any variable
print(a)

welcome
	 welcome

In [ ]:
a="     welcome"
v=a.strip()
print(v)

welcome

In [ ]:
a="hello , this is the string"
a.split(" , ") #here(with comma between double quotes) the word before and after the comma is separated into 2 string

['hello', 'this is the string']

In [ ]:
a="hello , this is the string"
a.split(" ") # here (a space between the double quote) each word is separated

['hello', ',', 'this', 'is', 'the', 'string']

In [ ]:
r="         Emily             "
v=r.strip()
print(v)
r.split(" ")

Emily

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'Emily',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [ ]:
print("kERalA".swapcase())
print("himalaya".upper())
print("NEW ZEALAND".lower())

KerALa
HIMALAYA
new zealand

STRING SLICING

In [ ]:
msg="Hi,good morning to all..."
print(msg[4])
print(msg[0:10])
print(msg[:12])
print(msg[0:])

o
Hi,good mo
Hi,good morn
Hi,good morning to all...

.format()

In [ ]:
name=input("enter your name:")
std=input("enter the class:")
print("You are from {} and name is {}.".format(std,name)) #.format is used to enter a user input values in a placeholder.

You are from tenth and name is Anjana.

List

In [99]:
l2=["one","two","three","four","five"]
print(l2)

['one', 'two', 'three', 'four', 'five']

In [ ]:
if "two" in l2:
    print("two is in l2")

two is in l2

In [ ]:
if "seven" in l2:
    print("seven is there")
else:
    print("seven is not there")

seven is not there

position changing in list

In [ ]:
l2[1]="2"
print(l2)

['one', '2', 'three', 'four', 'five', 'eight']

In [81]:
l2[1]="3"
print(l2)

['one', '3', 'three', 'four', 'five']

In [ ]:
newlist=["six","seven","eight","nine","ten"]
print(l2+newlist)

['one', 3, 'three', 'four', 'five', 'eight', 'six', 'seven', 'eight', 'nine', 'ten']

In [ ]:
l2.append(newlist)
print(l2)

['one', 3, 'three', 'four', 'five', 'eight', ['six', 'seven', 'eight', 'nine', 'ten']]

In [82]:
l2.append("eight")
print(l2)

['one', '3', 'three', 'four', 'five', 'eight']

In [83]:
print(l2[1:6])

['3', 'three', 'four', 'five', 'eight']

In [103]:
l2.pop(1) #pop is used to remove the mentioned element  through index value and pop only accept value
print(l2)

['one', 'three', 'five']

In [100]:
l2.remove("four") #remove accept the string value to remove
print(l2)

['one', 'two', 'three', 'five']

In [94]:
l2.sort()
print(l2) #sort is used to sort the values in alphabetical order

['five', 'four', 'one', 'three', 'two']

In [96]:
l2.reverse()
print(l2) #to reverse the alphabetical order

['five', 'four', 'one', 'three', 'two']

FUNCTION

In [102]:
def f1():
    print("Hi I'm new to python")
f1()

Hi I'm new to python

function with parameter

In [106]:
def f2(n):
    print("hey")
name="eben"
f2(name)

hey

In [107]:
def f2(n):
    print("hey",n)
name="eben"
f2(name)

hey eben

In [112]:
def fname():
    print("hi,this is my first time")
    return("success",True)                      #We are using return in order to print if the given condition is true. if it is false then it will not print
name="vinduja"                              
ret=fname()
print(ret)

hi,this is my first time
('success', True)

In [113]:
def fname():
    print("hi,this is my first time")
    return True
name="vinduja"
ret=fname()
print(ret)

hi,this is my first time
True

In [120]:
num=[2,12,6,3]
def name(n):
    for i in num:
        if i%2==0:
            print("even")
        else:
            return False
name(num)

even
even
even

False